<div class="col-sm-2 sidenav">
	<!-- TODO: Change the link to link from json Parser -->
	<img src="https://s.gravatar.com/avatar/30ff4680517558395eb1791f33469281?s=80" class="img-circle" alt="profile-image">

		</br>
		</br>
		</br>
		<%=@read_file_contents['basics']['name']%>
		</br>

		<%=@read_file_contents['basics']['email']%>
		</br>
		
		<%=@read_file_contents['basics']['phone']%>
		</br>
		<%=link_to @read_file_contents['basics']['website'], @read_file_contents['basics']['website']%>
		</br>
		</br>
	<%@read_file_contents['basics']['profiles'].each do |network| %>	
	  <p><%=network['network']%>: <%=link_to network['username'], network['url']%></p>
	<%end%>

						<p class="glyphicon glyphicon-map-marker"><%=@read_file_contents['basics']['location']['address']%> 
						<p> <%=@read_file_contents['basics']['location']['city']%></p>
						<p> <%=@read_file_contents['basics']['location']['postalCode']%></p>
						<p> <%=@read_file_contents['basics']['location']['region']%></p>
						<p> <%=@read_file_contents['basics']['location']['countryCode']%></p>


</div>


<div class="col-sm-8 text-left"> 
  <h2>Summary</h2>
  <p class="lead"><%= @read_file_contents['basics']['summary'].html_safe %></p>

  </br>
	</br>


	<h2>Work</h2>
	<table style="width:70%">
		<%@read_file_contents['work'].each do |company|%>
			<tr>
				<th> <%=link_to company['company'], company['website']%> </th>
				<th> <%=company['position']%> </th>
				<th style="width:30%"> <%=company['startDate']%> to <%=company['endDate']%></th>
			</tr>
			<tr>
				 <td colspan="3"><%=company['summary']%></td> 
			</tr>
			<tr>
				<td colspan="3">
					<%company['highlights'].each do |highlight| %>
						<ul>
					  	<li><%= highlight%></li>
						</ul>
				<% end %> 
			</tr>
		
		<%end%>
	</table>
	</br>

	<h2>Previous Work</h2>
	<table style="width:70%">
		<%@read_file_contents['additionalWork'].each do |company|%>
			<tr>
				<th>  <%=link_to company['company'], company['website']%> </th>
				<th> <%=company['position']%> </th>
				<th style="width:30%"> <%=company['startDate']%> to <%=company['endDate']%></th>
			</tr>
			<tr>
				 <td colspan="3"><%=company['summary']%></td> 
			</tr>
			<tr>
				<td colspan="3">
					<%company['highlights'].each do |highlight| %>
						<ul>
					  	<li><%= highlight%></li>
						</ul>
				<% end %>
				</td > 
			</tr>
		<%end%>
	</table>

	</br>

	<h2>Education</h2>
	<table style="width:70%">
		<%@read_file_contents['education'].each do |education|%>
			<tr>
				<th> <%=education['institution']%> </th>
				<th> <%=education['studyType']%> </th>
				<th> <%=education['area']%> </th>
				<th style="width:30%"> <%=education['startDate']%> to <%=education['endDate']%></th>
				<th style="width:20%"> GPA: <%=education['gpa']%></th>
			</tr>
			<tr>
				<td colspan="5">
					<%education['courses'].each do |cource| %>
						<ul>
					  	<li><%= cource%></li>
						</ul>
					<% end %> 
				</td>
			</tr>
		<%end%>
	</table>


	</br>


	<h2>Publications</h2>
	<table style="width:80%">
		<%@read_file_contents['publications'].each do |publication|%>
			<tr>
				<th style="width:20%">  <%=link_to publication['name'], publication['website']%></th>
				<th> <%=publication['publisher']%> </th>
				<th> <%=publication['releaseDate']%> </th>
			</tr>
			<tr>
				<td style="width:40%" colspan="4">  <%=publication['summary']%></td>
			</tr>
		<%end%>
	</table>

	</br>

	<h2>Additional Publications</h2>
	<table style="width:80%">
		<%@read_file_contents['additionalPublications'].each do |publication|%>
			<tr>
				<th style="width:20%">  <%=link_to publication['name'], publication['website']%></th>
				<th> <%=publication['publisher']%> </th>
				<th> <%=publication['releaseDate']%> </th>
			</tr>
			<tr>
				<td style="width:40%" colspan="4">  <%=publication['summary']%></td>
			</tr>
		<%end%>
	</table>



	<h2>Skills</h2>
	</br>
	</br>
	<table style="width:80%">
		<%@read_file_contents['skills'].each do |publication|%>
			<tr>
				<th><kbd> <%=publication['name']%></kbd> </th>
				<th> <%=publication['level']%> </th>
				<%publication['keywords'].each do |keyword|%>
					<th> <%=keyword%> </th>
				<%end%>
			</tr>
		<%end%>
	</table>
</div>




